name: Update Gist

on:
  push:
    branches: master

  schedule:
    - cron: "1 8 * * *"

jobs:
  update-gist:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master
      - name: Install
        run: npm ci
      - name: Update gist
        run: node ./index.js
        env:
          GH_TOKEN: ${{ secrets.GH_TOKEN }}
          GIST_ID: 0aaab601c28637c74d5f281055e4e8ec
          WAKATIME_API_KEY: ${{ secrets.WAKATIME_API_KEY }}
